.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.featuredItem {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 0px 1px #cccccc;
  box-shadow: 5px 5px 0px 1px #cccccc;
}
.featured :hover {
  background-color: darkorange;
}
.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
}
.featuredSub {
  font-size: 14px;
  color: gray;
}
@media only screen and (max-width: 500px) {
  .featured {
    display: block;
  }
}
