.topbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid white;
  margin: 0;
}
.topbarwrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkorange;
  cursor: pointer;
}
.topRight {
  display: flex;
  align-items: center;
}
.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}
.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.toggle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
