.userList {
  flex: 4;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: darkorange;
  cursor: pointer;
  margin-right: 20px;
}
.userListDelete {
  color: red;
  cursor: pointer;
}
svg {
  color: darkorange;
}
.search {
  display: flex;
  align-items: center;
  border: 0.5px solid white;
  padding: 5px;
  margin: 10px 25%;
  border-radius: 15px;
  background-color: white;
  justify-content: space-between;
}
input {
  border: none;
  outline: none;
  font-size: 14px;
  color: darkorange;
  width: 100%;
}
::placeholder {
  font-size: 14px;
  color: darkorange;
}
.searchIcon {
  right: 0;
}
