.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  /* background-color: black; */
  background-color: #222831;
  position: sticky;
  top: 50px;
  border-right: 2px solid white;
}
.sidebarWrapper {
  padding: 20px;
  color: #EEEEEE;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 20px;
  color: #EEEEEE;
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #00ADB5;
  /* color: black; */
  font-weight: bold;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
  color: white;
}
