.container {
  display: flex;
  /* background-color: black; */
  background-color: #222831;
  color: white;
  width: 100%;
}
.link {
  text-decoration: none;
  color: inherit;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: #00ADB5;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  background-color: #00ADB5;

  box-shadow: 0 -100vh 0 100vh #00ADB5;
}
